<html lang="en">

<!-- // // head added using partials  -->
<%- include('./partials/head.ejs') %>

    <body>
        <!-- // // navbar added using partials  -->
        <%- include('./partials/nav.ejs') %>

            <div class="not-found content">
                OOPS, page not found
            </div>
            <!-- // // footer added using partials  -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>