<html lang="en">
    <!-- // // head added using partials  -->
    <%- include('./partials/head.ejs') %>

<body>
    <!-- // // navbar added using partials  -->
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero repellat ab eius tempore non molestias deleniti incidunt a delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero repellat ab eius tempore non molestias deleniti incidunt a delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero repellat ab eius tempore non molestias deleniti incidunt a delectus.</p>
    </div>

        <!-- // // footer added using partials  -->
        <%- include('./partials/footer.ejs') %>
</body>
</html>