<html lang="en">
<!-- // // head added using partials  -->
<%- include("./partials/head.ejs") %>

    <body>
        <!-- // // navbar added using partials  -->
        <%- include('./partials/nav.ejs') %>

            <div class="create-blog content">
                <form action="">
                    <label for="title">Blog Title</label>
                    <input type="text" id="title"></label>
                    <label for="snippet">Blog Title</label>
                    <input type="text" id="snippet"></label>
                    <label for="body">Blog Title</label>
                    <textarea name="content" id="body" required></textarea>
                    <button>Submit</button>
                </form>
            </div>
            <!-- // // footer added using partials  -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>